.vtwelve4{
    
    margin-left: 650px;
}
#vone4{
    color: black;
    font-weight: bold;
    margin-left: 750px;
    margin-bottom: 50px;
    margin-top: 30px;
}
#vtwo4{
    margin-left: 113px;
}
#vthree4{
    margin-left: 105px;
}
.vnine4{
    color: black;
}
#vfive4{
    margin-left: 170px;
}
#veight4{
    margin-left: 110px;
    width: 233px;
}
.vfour4{
    font-size: xx-large;
    font-weight: bold;
    margin-left: 300px;
}
.vten4{
    margin-left: 66px;
    width: 235px;
}
.veleven4{
    margin-left: 170px;
    border-radius: 1px;
   border-color: black;
    width: 235px;
    height: 40px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.vthirteen4{
    margin-left: 90px;
}
.vfourteen4{
    font-style: normal;
    font-size: large;
    color: black;
}