.vone2{
    margin-left: 100px;
    font-size: xx-large;
    font-weight: bold;
}
#vtwo2{
    color: black;
}
.vthree2{
    width: 400px;
    margin-left: 760px;
}
.vfour2{
    margin-left: 930px;
}
.vfive2{
    margin-top: 50px;
}