#vone1{
    color: black;
}
.vtwo1{
    margin-left: 100px;
    font-size: xx-large;
    font-weight: bold;
}
.vthree1{
    width: 500px;
}
.vfour1{

    margin-bottom: 15px;
}
.vfive1{
    margin-left: 183px;
}
.vsix1{
    margin-left: 600px;
}
.vseven1{
    margin-left: 770px;
    margin-top: 50px;
    margin-bottom: 40px;
}


