.red{
    color: black;
}
#vone5{
    color: black;
    margin-left: 300px;
    margin-top: 25px;
    margin-bottom: 25px;
}
#vtwo5{
    margin-left: 50px;
}
#vthree5{
    margin-bottom: 25px;
}
.vfour5{
    margin-left: 200px;
    font-weight: bold;
    font-size: xx-large;
}